body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1 {
  padding: 10px 0;
  margin: 0;
}
header {
  height: 60px;
  display: flex;
  padding: 0 60px;
}
.heading {
  width: 50%;
  margin-left: 30px;
}
.contents {
  height: 100vh;
  background-color: #f0f0f0;
  align-items: center;
}
.inner{
  max-width: 1024px;
  margin: auto;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.card {
  background-color: #fff;
  font-size: 16px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
}
tr {
  text-align: center;
}
label {
  font: 1rem 'Fira Sans', sans-serif;
}
input {
  margin: .4rem;
}
form {
  width: 20%;
  margin: 5px;
}
